# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'apache/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['apache2'],
        'mod_pkgs': ['apparmor', 'apreq2', 'auth-cas', 'auth-gssapi', 'auth-kerb', 'auth-mellon',
                     'auth-ntlm-winbind', 'auth-openid', 'auth-openidc', 'auth-pgsql', 'auth-plain',
                     'auth-pubtkt', 'auth-radius', 'auth-tkt', 'authn-sasl', 'authn-webid', 'authnz-external',
                     'authnz-pam', 'authz-securepass', 'authz-unixgroup', 'bw', 'dacs', 'defensible', 'dnssd',
                     'encoding', 'evasive', 'fcgid', 'fcgid-dbg', 'form', 'form-dev', 'geoip', 'gnutls',
                     'intercept-form-submit', 'jk', 'ldap-userdir', 'ldap-userdir-dbg', 'lisp', 'log-slow',
                     'log-sql', 'log-sql-dbi', 'log-sql-mysql', 'log-sql-ssl', 'lookup-identity', 'mapcache',
                     'mime-xattr', 'mono', 'musicindex', 'neko', 'netcgi-apache', 'nss', 'parser3', 'passenger',
                     'perl2', 'perl2-dev', 'perl2-doc', 'php', 'php7.0', 'proxy-msrpc', 'proxy-uwsgi',
                     'proxy-uwsgi-dbg', 'python', 'python-doc', 'qos', 'r-base', 'removeip', 'rivet', 'rivet-doc',
                     'rpaf', 'ruid2', 'ruwsgi', 'ruwsgi-dbg', 'scgi', 'security2', 'shib2', 'svn', 'upload-progress',
                     'uwsgi', 'uwsgi-dbg', 'vhost-ldap', 'watchcat', 'webauth', 'webauthldap', 'webkdc', 'wsgi',
                     'wsgi-py3', 'xforward', 'xsendfile'],
        'service': 'apache2',
        'env_file': '/etc/apache2/envvars',
        'ports_conf_file': '/etc/apache2/ports.conf',
        'security_conf_file': '/etc/apache2/conf-available/security.conf',
        'user': 'www-data',
        'group': 'www-data',
        'ulimit': '8192',
        'mod_wsgi': 'libapache2-mod-wsgi',
        'mod_php': 'libapache2-mod-php5',
        'mod_perl': 'libapache2-mod-perl2',
        'mod_xsendfile': 'libapache2-mod-xsendfile',
        'mod_auth_kerb': 'libapache2-mod-auth-kerb',
        'htpasswd_dir': '/etc/apache2',
        'sites_dir': '/etc/apache2/sites-available',
        'mods_dir': '/etc/apache2/mods-available',
        'conf_dir': '/etc/apache2/conf-available',
        'conf_ext': '.conf',
        'log_dir': '/var/log/apache2',
        'www_dir': '/var/www',
    },
}
, grain="os_family"
, merge=salt['pillar.get']('apache:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.apache.update(os_family_map) %}

{## Merge in apache:lookup pillar ##}
{% set apache = salt['pillar.get'](
        'apache',
        default=default_settings.apache,
        merge=True
    )
%}
